.container{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/*
* Первая часть шапки
 */
.b-header{
    background-color: #2b2c31;
    height: 47px;
    color: white;
}

.b-header__socialIcon, .b-header__emailIcon, .b-header__phoneIcon{
    display: inline-block;
    margin: 12px 0;
}

.b-header__socialIcon{
    height: 46px;
    margin-left: 5px;
    margin-right: 30px;
}

.b-header__emailIcon{
    margin-right: 35px;
    font-family: 'Open Sans', sans-serif;
}

.b-header__emailIconText{
    margin-left: 5px;
}

.b-header__phoneIcon{
    margin-right: 115px;
    margin-left: 5px;
}

.b-header__emailIconText, .b-header__emailIcon{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #d2d2d2;
}

.b-header__emailIconText{
     margin-left: 9px;
     margin-right: 9px;
 }

.b-header__animateIcon{
    display: inline-block;
    height: 32px;
    position: relative;
    top: -7px;
}

.b-header__animateIconLike{
    margin-top: 10px;
}

.b-header__animateIconLibra{
    margin-top: 10px;
    margin-left: -5px;
}

.b-header__animateIconElipse{
    position: relative;
    top: -3px;
    right: 8px;
}

.animateIcon__numb-like{
    position: absolute;
    top: 4px;
    right: 72px;
}

.animateIcon__numb-libra{
    position: absolute;
    top: 4px;
    right: 15px;
}

.b-header__searchField{
    display: inline-block;
    margin-left: 20px;
}

.searchField__input{
    height: 30px;
    border: 1px solid #2b2c31;
    border-left: 1px solid #4c4d51;
    border-right: 1px solid #4c4d51;
    border-radius: 2px;
    background: url(../imgs/search_icon.png) no-repeat;
    background-position-x: 212px;
    background-position-y: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #d2d2d2;
    width: 250px;
    margin-left: -15px;
}

.searchField__input:focus{
    border: 1px solid #2b2c31;
    border-left:1px solid #4c4d51 ;
    border-right:1px solid #4c4d51;
    background-color: #2b2c31;
    background: none;

}


/**Мультиязычность**/

.b-header__multilanguages{
    display: inline-block;
    position: relative;
    left: 21px;
}

.multilanguages__buttons_active{
    color: #2b2c31;
    border-radius: 5px;
    background-color: #d2d2d2;
    padding: 2px 8px;
    font-family: 'Open Sans', bold;
    font-weight: 700;
}

.multilanguages__buttons_active:link{
    text-decoration: none;
    color: #2b2c31;
}

.multilanguages__buttons_active:visited{
    text-decoration: none;
    color: #2b2c31;
}

.multilanguages__buttons_active:hover{
    text-decoration: none;
    color: #2b2c31;
}

.multilanguages__buttons_active:active{
    text-decoration: none;
    color: #2b2c31;
}

.multilanguages_buttons{
    color: #d2d2d2;
    border-radius: 5px;
    padding: 2px 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.multilanguages_buttons:link{
    text-decoration: none;
    color: #d2d2d2;
}

.multilanguages_buttons:visited{
    text-decoration: none;
    color: #d2d2d2;
}

.multilanguages_buttons:hover{
    text-decoration: none;
    color: #d2d2d2;
}

.multilanguages_buttons:active{
    text-decoration: none;
    color: #d2d2d2;
}

/*
* Вторя часть шапки
 */

.b-menu{
    background-color: #000;
    height: 95px;
}

.b-menu__logo{
    margin: 24px 0;
    float: left;
}

.b-menu__logo, .b-nav__list{
    display: inline-block;
}

.b-nav__list{
    width: 783px;
}

.b-nav__list{
    list-style: none;
}

.b-nav__list{
    display: inline-block;
    margin-left: 35px !important;;

}

.b-nav__list, .b-menu__navLink{
    color: #eeeeee;
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    margin-top: 20px;
}

.b-menu__navLink:hover, .b-menu__basket:hover{
    cursor: pointer;

}

.b-menu__basket{
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    position: relative;
    top: 10px;
    left: 30px;
    color: #eeeeee;
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
}

.b-menu__basketNav{
    float: right !important;
}

.b-menu__basketLink{
    position: relative;
    top: -10px;
    left: -25px;
    color: #eeeeee;
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
}

.b-header__animateIconElipse-basket{
    position: relative;
    top: -10px;
    left: -10px;
}

.animateIcon__numb-basket{
    position: relative;
    top: -8px;
    right: 27px;
}

.edn__menu__path{
    height: 73px;
}

.edn__menu__path span{
   position: relative;
    top: 13px;
    font-family: 'Roboto Slab', serif;
    color: #747474;
    font-size: 16px;
}

/*
*Стили подменю
 */

.b-subMenu{
    height: 77px;
    margin-top: 73px;
    background: url("../imgs/coals_backgraund.png") no-repeat;
}

.b-subMenu__text{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #fff;
}

.b-subMenu__img_overviwe{
    margin: 0 0 0 47px;
    position: relative;
    top: -5px;
}

.b-subMenu__img_recipe{
    margin-left: 50px;
    position: relative;
    top: -5px;
}

.b-subMenu__img_documentation{
    position: relative;
    top: -5px;
}

.b-subMenu__img_video{
    margin-left: 74px;
    position: relative;
    top: -5px;
}

.white_band_0{
    margin-right: 15px;
}

.white_band_1{
    margin-left: 31px;
    margin-right: 38px;
}

.white_band_2{
    margin-left: 12px;
    margin-right: 40px;
}

.white_band_3{
    margin-left: 25px;
    margin-right: 33px;
}
.white_band_4{
    position: relative;
    left: 28px;
}